.red{
    color: red;
  
}
.d{
    font-family:normal;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9em;
}

.b {
    font-style:oblique;
    font-family:Arial, Helvetica, sans-serif;
    font-size: .9em;
}
.c{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.e{
    font-size:4em;
    font
}
.f{
    font-size:1.2em;
    font-family:Arial, Helvetica, sans-serif;
}
.g{
    font-size: 1.1em;
}
.h{
    background: black;
    color:#66ffff;
}
.j{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
}